{% extends 'base.html' %}

{% block content %}

    {% if not has_error %}
        <div class="card flat-card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% if not prefered_lang %}
                        <div>
                            <a href="/?lang=zip" class="btn-sm btn-secondary btn my-2">Сдать архив</a>
                            <a href="/?lang=ipynb" class="btn-sm btn-secondary btn my-2">Сдать тетрадку</a>
                        </div>

                        <div class="form-group me-2">
                            <label for="lang" class="text-muted">Язык</label>

                            {% if not task %}
                                <select class="form-control my-1 form-select" id="lang" name="lang">
                                    <option value="cpp">C++/C</option>
                                    <option value="python">Python</option>
                                    <option value="java">Java</option>
                                    <option value="cs">C#</option>
                                    <option value="html">Html</option>
                                    <option value="css">CSS</option>
                                    <option value="js">Javascript</option>
                                    <option value="json">JSON</option>
                                    <option value="xml">XML</option>
                                    <option value="swift">Swift</option>
                                    <option value="php">PHP</option>
                                </select>
                            {% else %}
                                <p class="mt-1">{{ task.lang }}</p>
                                <input type="hidden" name="lang" value="{{ task.lang }}"/>
                            {% endif %}
                        </div>

                        <div class="form-group me-2">
                            <label for="code" class="text-muted">Код</label>
                            <textarea style="font-family: 'DejaVu Sans Mono', 'Consolas', monospace"
                                      class="form-control my-1"
                                      id="code" rows="10" name="code"></textarea>
                        </div>

                    {% elif prefered_lang == 'ipynb' %}
                        <div class="form-group me-2">
                            <label for="file" class="text-muted mb-2">Код</label>
                            <input class="form-control" type="file" name="file" accept=".ipynb"></input>
                        </div>
                    {% elif prefered_lang == 'zip' %}
                        <div class="form-group me-2">
                            <label for="file" class="text-muted mb-2">Архив с кодом</label>
                            <input class="form-control" type="file" name="file" accept=".zip"></input>
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}